/* �뚮찓�� home|login... absolute �ㅼ젙�쇰줈 �뱀떆 紐⑤Ⅴ�� top_menu �� 媛꾩꽠 �닿껐 */
#sh_tip_menu {position:absolute;right:0px;top:6px;z-index:9999;font-family:"留묒� 怨좊뵓","�뗭�",Dotum,"援대┝";font-size:13px;overflow:hidden;background:url('/sh_img/hd/top_menu/sh_tip_menu_bg.png') left 8px no-repeat;padding-left:10px}
#sh_tip_menu li {float:left; padding:0 7px;}
#sh_tip_menu li a {color:#7a7a7a;}
#sh_tip_menu li a:hover {color:#333;}
#sh_tip_menu li.last {padding-right:0;}


/* logo �꾩튂 議곗젙 諛� �ъ씠利� 吏��� */
#top_logo {padding:23px 0 26px 0; font-size:24px;z-index:9999;}

#top_menu_wrapper {margin:0 auto;position:absolute;left:50%;margin-left:-315px;top:15px;}

/* nav_depth  */
#top_menu {float:left;list-style:none;height:50px;width:820px;}
#top_menu li.list {float:left;display:inline-block;position:relative;z-index:999;color:#717171;font-size:20px;width:20%;height:70px;text-align:center;background:url('/sh_img/hd/top_menu/menu_line.png') right 29px no-repeat;}
#top_menu li.list.list05 {background:none;}
#top_menu li a {display: block;font-weight:bold;line-height:70px;text-decoration:none; color:#717171;zoom:1;padding:0px 12px;overflow:visible}
#top_menu li.list a:hover, #nav li a.hov {color:#518a00;overflow:visible;}

#top_menu li ul li {display:inline;text-align:left;font-size:14px;margin:0;}

#top_menu li ul {display:none;padding-top:6px;width:500px;clear:both; /* IE6-8 */}	/* �뚮찓�� ul  background-image: url(http://hu2778.s7.hdweb.co.kr/sh_img/hd/top_menu/img/sub_menu_bg.png); */
#top_menu li ul a {position:relative; float:left;line-height:18px;color:#777;}
#top_menu li.list ul a:hover { text-decoration:none; color:#222;background:none;}

/* �뚮찓�� 媛�濡� �꾩튂 */
#top_menu li ul.sub_ul1 {margin-left:-25px;}
#top_menu li ul.sub_ul2 {margin-left:40px;}
#top_menu li ul.sub_ul3 {margin-left:-79px;}
#top_menu li ul.sub_ul4 {margin-left:-10px;}
#top_menu li ul.sub_ul5 {margin-left:-50px;}

.top_nav_bg {z-index:0; position:absolute; width:100%; display:none; top:0px;  height:130px; background-color:#fff}