<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjk.board.vo.ScoreVO">

   <select id="list" resultType="scoreVO">
      select gname, h1, h2,h3,h4,h5,h6,h7,h8,h9 from score
      
   </select>

</mapper>